<script type="text/javascript" charset="utf-8">
  <% if logged_in? %>
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
  <% end %>
  window.facespaceAssets = {
    logo: '<%= asset_path('navbarlogo.png') %>',
    friends: '<%= asset_path('friends.svg') %>',
    notifications: '<%= asset_path('notifications.gif') %>',
    defaultCover: '<%= asset_path('default-cover.jpg') %>',
    defaultProfile: '<%= asset_path('default-profile.png') %>',
    features: '<%= asset_path('features.png') %>',
  }
</script>
<main id="root"></main>
